<div class="sideNav">
    <div ><a href="../dispatches" class="navLink">
      <i class="bi bi-geo-alt"></i>
      <h2>Dispatches</h2></a>
    </div>
    <div ><a href="../payrolls" class="navLink">
      <i class="bi bi-coin"></i>
      <h2>Payroll</h2></a>
    </div>
    <div ><a href="../drivers" class="navLink">
      <i class="bi bi-person"></i>
      <h2>Drivers</h2></a>
    </div>
    <div ><a href="../trucks" class="navLink">
          <i class="bi bi-truck"></i>
          <h2> Trucks</h2></a>
    </div>
    <div ><a href="../" class="navLink">
      <i class="bi bi-power"></i>
      <h2> Logout </h2></a>
    </div>
  </div>
