<div>
  <ul>
    <li class="nav-item">
      <a class="navLink" routerLink="/" >
        <i class="bi bi-person"></i>
        <h2>Projects</h2>
      </a>
    </li>
    <li class="nav-item">
      <a class="navLink" routerLink="/clients" >
        <i class="bi bi-geo-alt"></i>
        <h2>Clients</h2>
      </a>
    </li>
    <li class="nav-item">
      <a class="navLink" routerLink="/client-meetings">
        <i class="bi bi-coin"></i>
        <h2>Client Meetings</h2>
      </a>
    </li>
    <li class="nav-item">
      <a class="navLink" routerLink="/login" >
        <i class="bi bi-power"></i>
        <h2> Logout </h2>
      </a>
    </li>
  </ul>
</div>



<!-- <div class="sideNav">
    <div ><a routerLink="/clients" class="navLink">
      <i class="bi bi-geo-alt"></i>
      <h2>Clients</h2></a>
    </div>
    <div class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/client-meetings" class="navLink">
      <i class="bi bi-coin"></i>
      <h2>Client Meetings</h2></a>
    </div>
    <div ><a routerLink="/projects" class="navLink">
      <i class="bi bi-person"></i>
      <h2>Projects</h2></a>
    </div>
    <div ><a routerLink="/" class="navLink">
      <i class="bi bi-power"></i>
      <h2> Logout </h2></a>
    </div>
</div> -->

  