
    <section class="dispatchDashboard">
      <div  class="tableContainer">
        <div class="title">
          <div class="titleImgContainer">
            <!-- <i class="bi bi-person"></i> -->
            
            <h3><i class="bi bi-person"></i> Clients</h3>
          </div>
          <a href="/clients/new">                       
            <div class="newBtn">
              <i class="bi bi-plus-circle"></i> New Client
            </div>
          </a>  
        </div>
        <hr>
        <table class="dispatchTable searchable table table-striped"                     
        data-sort-name="status:active" 
        data-sort-order="asc"
        data-toggle="table" 
        data-pagination="true"
        data-search="true" >
          <thead>
            <tr>
              <th class="text-center"  data-field="driverId" data-sortable="true">
                <div>
                  Id#
                </div>
              </th>
              <th data-field="companyName" data-sortable="true">
                <div>
                  Company Name
                </div>
              </th>
              <th>Address 1</th>
              <th>Address 2</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th data-field="firstName" data-sortable="true">
                <div>
                  First Name
                </div>
              </th>
              <th data-field="lastName" data-sortable="true">
                <div>
                  Last Name
                </div>
              </th>
              <th>Email</th>
              <th>Bus. Phone</th>
              <th>Mobile Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of client; let i = index">
              <!-- <th>{{i+1}}</th> -->
              <td>{{ client.client_id }}</td>
              <td>{{ client.companyName }}</td>
              <td>{{ client.streetAddress1 }}</td>
              <td>{{ client.streetAddress2 }}</td>
              <td>{{ client.city }}</td>
              <td>{{ client.state }}</td>
              <td>{{ client.zip }}</td>
              <td>{{ client.firstName }}</td>
              <td>{{ client.lastName }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.busPhone }}</td>
              <td>{{ client.mobilePhone }}</td>
              <td><button type="button" class="btn btn-primary btn-sm">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>