<body>
    <section class="dispatchDashboard">
      <div  class="tableContainer">
        <div class="title">
          <div class="titleImgContainer">
            <!-- <i class="bi bi-coin"></i> -->
            
          <h3><i class="bi bi-building"></i> Projects</h3>
          </div>
          <a href="/projects/new">
            <div class="newBtn">
              <i class="bi bi-plus-circle"></i> New Project
             </div>
          </a>  
        </div>
        <hr>
        <table class="dispatchTable searchable table table-striped" 
          data-sort-name="paidDate" 
          data-sort-order="desc"
          data-toggle="table" 
          data-pagination="true"
          data-search="true">
          <thead>
            <tr>
              <th data-field="id" data-sortable="true">
                <div >
                   Project ID#
                </div>
              </th>
              <th data-field="client_id" data-sortable="true">
                <div >
                    Client ID#
                </div>
              </th>
              <th>Client Name</th>
              <th>Project Name</th>
              <th>Project Description</th>
              <th data-field="startDate" data-sortable="true">Start Date</th>
              <th data-field="dueDate" data-sortable="true">Due Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of project; let i = index">
              <!-- <th>{{i+1}}</th> -->
              <td>{{ project.project_id }}</td>
              <td>{{ project.client_id }}</td>
              <td>{{ project.client_name }}</td>
              <td>{{ project.project_name }}</td>
              <td>{{ project.project_description }}</td>
              <td>{{ project.project_start_date }}</td>
              <td>{{ project.project_due_date }}</td>
              <td>{{ project.project_status }}</td>
              <td><button type="button" class="btn btn-primary btn-sm" (click)="onViewClient(project.client_id)">View</button></td>
            </tr>
            </tbody>
        </table>
      </div>
    </section>
</body>
