<div class="loginForms">
    <div class="forms-content" action="./dispatches/">
      <div class="imgcontainer">
        <img src="../images/mainLogo.jpeg" alt="Avatar" class="avatar">
        <h1>Client Management App.</h1>
        <h2>Login</h2>
      </div>
      <form action="./login" method="POST">
        <div class="mb-4">
          <label class="form-label" for="username">Username</label>
          <input class="form-control" type="text" placeholder="Enter Username" name="username" id="username" required>
        </div>
        <div class="mb-4">
          <label class="form-label" for="password">Password</label>
          <input class="form-control" type="password" placeholder="Enter Password" name="password" id="password" required>
        </div>
        <button class="btn btn-success" type="submit"><i class="bi bi-box-arrow-in-left"></i> Login</button>
      </form>
      <br>
      <div class="registerLink">
        <div>Don't Have an account? 
          <a href="./users/new"> Register</a>
        </div>
      </div>
    </div>
  </div>

