<section class="dispatchDashboard">
    <div  class="tableContainer">
        <div class="title">
            <div class="titleImgContainer">
                <!-- <i class="bi bi-geo-alt"></i> -->
                <h3><i class="bi bi-calendar-event"></i> Client Meetings</h3>
            </div>
            <a href="/client-meetings/new">
                <div class="newBtn">
                    <i class="bi bi-plus-circle"></i> New Meeting
                </div>
            </a>  
        </div>
        <hr>
        <table class="dispatchTable searchable table table-striped" 
            data-sort-name="pickupDate" 
            data-sort-order="desc"
            data-toggle="table" 
            data-pagination="true"
            data-search="true" >
            <thead>
                <tr>
                    <th class="text-center" data-field="client_id" data-sortable="true">
                        <div>
                            Client ID#
                        </div>
                    </th>
                    <th data-field="meeting_id" class="text-center" data-sortable="true">
                            <div >
                               Meeting ID#
                        </div>
                    </th>
                    <th class="text-center" data-field="meetingDay" data-sortable="true">
                        <div>
                            Date
                        </div>
                    </th>
                    <th class="text-center" data-field="unit" data-sortable="true">
                        <div>
                            Time
                        </div>
                    </th>
                    <th data-field="meeting_location" data-sortable="true">
                        <div>
                            Meeting_location
                        </div>
                    </th>
                    <th data-field="agenda" data-sortable="true">
                        <div>
                            Actions
                        </div>
                    </th>
                </tr>
            </thead>    
            <tbody>
                <tr>
                    <tr *ngFor="let clientMeeting of clientMeeting; let i = index">
                    <!-- <th>{{i+1}}</th> -->
                    <td class="text-center">{{clientMeeting.client_id}}</td>
                    <td class="text-center">{{clientMeeting.meeting_id}}</td>
                    <td>{{clientMeeting.meeting_date}}</td>
                    <td>{{clientMeeting.meeting_time}}</td>
                    <td>{{clientMeeting.meeting_location}}</td>
                    <td><button type="button" class="btn btn-primary btn-sm">View</button></td>
                </tr>
               
            </tbody>
        </table>
        </div>
    <!-- </div> -->
</section>
