<section class="dispatchDashboard">
    <div  class="tableContainer">
        <div class="title">
            <div class="titleImgContainer">
                <!-- <i class="bi bi-geo-alt"></i> -->
                <h3>Client Meetings</h3>
            </div>
            <a href="/dispatches/new">
                <div class="newBtn">
                    <i class="bi bi-plus-circle"></i> New Meeting
                </div>
            </a>  
        </div>
        <hr>
        <table class="dispatchTable searchable table table-striped" 
            data-sort-name="pickupDate" 
            data-sort-order="desc"
            data-toggle="table" 
            data-pagination="true"
            data-search="true" >
            <thead>
                <tr>
                    <th class="text-center" data-field="client_id" data-sortable="true">
                        <div>
                            Client ID#
                        </div>
                    </th>
                    <th data-field="meeting_id" class="text-center" data-sortable="true">
                            <div >
                               Meeting ID#
                        </div>
                    </th>
                    <th class="text-center" data-field="meetingDay" data-sortable="true">
                        <div>
                            Date
                        </div>
                    </th>
                    <th class="text-center" data-field="unit" data-sortable="true">
                        <div>
                            Time
                        </div>
                    </th>
                    <th data-field="meeting_location" data-sortable="true">
                        <div>
                            Meeting_location
                        </div>
                    </th>
                    <th data-field="agenda" data-sortable="true">
                        <div>
                            Actions
                        </div>
                    </th>
                </tr>
            </thead>    
            <tbody>
                <tr>
                    <td class="text-center">12</td>
                    <td class="text-center">45</td>
                    <td>08/28/2024</td>
                    <td>10:00 AM to 10:30 AM</td>
                    <td>zoom</td>
                    <td><button>View</button></td>
                </tr>
                <tr>
                    <td class="text-center">12</td>
                    <td class="text-center">45</td>
                    <td>08/28/2024</td>
                    <td>10:00 AM to 10:30 AM</td>
                    <td>zoom</td>
                    <td><button>View</button></td>
                </tr>
                <tr>
                    <td class="text-center">12</td>
                    <td class="text-center">45</td>
                    <td>08/28/2024</td>
                    <td>10:00 AM to 10:30 AM</td>
                    <td>zoom</td>
                    <td><button>View</button></td>
                </tr>
                <tr>
                    <td class="text-center">12</td>
                    <td class="text-center">45</td>
                    <td>08/28/2024</td>
                    <td>10:00 AM to 10:30 AM</td>
                    <td>Conference Rm</td>
                    <td><button>View</button></td>
                </tr>

                <!-- <% for(let clientMeeting of clientMeetings) { %>
                <tr class="<%= clientMeetings.status %>">
                    <td><a href="/dispatches/<%= dispatch._id %>"><i class="bi bi-info-circle"></i></a></td>
                    <td># <%= clientMeeting.proNumber %></td>
                    <td class="status" value="<%= dispatch.status %>"><%= clientMeeting.status %></td>
                    <td># <%= clientMeeting.unit %></td>
                    <td><%= clientMeeting.driver %></td>
                    <td><%= clientMeeting.pickupDate %></td>
                    <td><%= clientMeeting.origin %></td>
                    <td><%= clientMeeting.destination %></td>
                    <td><%= clientMeeting.deliverDate %></td>
                    <td><%= clientMeeting.tripMiles %> ml</td>
                    <td><%= clientMeeting.duration %></td>
                    <td><%= clientMeeting.payRate %></td>
                    <td>$<%= clientMeeting.grossPay %></td>
                    <td><%= clientMeeting.customer %></td>
                </tr>
                <% } %> -->
            </tbody>
        </table>
        </div>
    <!-- </div> -->
</section>

<script>
    const rows = document.querySelectorAll('tr'); 
    // Loop through rows
    rows.forEach(row => {
    // Check if row has specific class
    if(row.classList.contains('Dispatched')) {
    row.style.backgroundColor = 'rgb(53, 196, 98, .1)';
    }else if(row.classList.contains('Pending')) {
        row.style.backgroundColor = ' rgb(255, 195, 189, 0.5)';
    }
    else if(row.classList.contains('Paid')) {
        row.style.backgroundColor = 'rgb(171, 171, 171, .5)';
    }
});
</script> 