<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="navLink" routerLink="/" >
          <!-- <i class="bi bi-person"></i> -->
          <div>Projects</div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="navLink" routerLink="/clients" >
          <!-- <i class="bi bi-geo-alt"></i> -->
          <div>Clients</div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="navLink" routerLink="/client-meetings">
          <!-- <i class="bi bi-coin"></i> -->
          <div>Client Meetings</div>
        </a>
      </li>
    </ul>
    <div class="logoutNav nav-item" routerLinkActive="active">
      <a class="navLink"  (click)="onLogout()">Logout</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

  